div#main_container {
	margin-top: 5vh;
	width: 1055px;
}

#result_box {
	width: 472px;
	display: inline-block;
}

#percent_and_sentence {
	text-align: center;
}

#percent {
	font-size: 72px;
}

#result {
	font-size: 24px;
}

#percentile canvas {
	margin-top: 15px;
	margin-left: 80px;
}

#percentile_statement {
	margin-left: 90px;
}

div#result_box text.correct {
	color: #5cb85c
}

div#result_box text.incorrect {
	color: #c70707;
}

div#answer_key {
	margin-top: 0px;
	height: 290px;
	overflow-y: auto;
	border-left: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
}

#answer_key .table {
	margin-bottom: 0px;
}

.choice_buttons {
	margin-top: 8px;
}

.learn_more_link {
	text-align: center;
	margin-top: 6px;
}

#study_box {
	display: inline-block;
	vertical-align: top;
	width: 525px;
	margin-left: 20px;
	padding-top: 10px;
	height: 630px;
}

#study_box hr {
	border-top: 1px solid #d3d3d3;
}

#study_title {
	text-align: center;
	font-size: 36px;
}

.study_explanation {
	margin-top: 12px;
	font-size: 16px;
}

#share_pitch {
	margin-top: 12px;
	font-size: 20px;
}

#share_module {
	margin-top: 15px;
}

.share {
	width: 240px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.sharing_buttons {
	margin-top: 15px;
}

#no_score_share {
	/*border-right: 1px solid #d3d3d3;*/
}

.share_label {
	font-size: 16px;
	width: 240px;
	display: inline-block;
	text-align: center;
}

#no_score_share_label {
	vertical-align: top;
	margin-top: 10px;
}

#sharing_buttons {
	margin-top: 15px;
}

.share_buttons {
	display: inline-block;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}

#fb_share_button {
	width: 200px;
	/*background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
	background: -moz-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
	background: -ms-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
	background: -o-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));*/
	background: -webkit-linear-gradient(#4c69ba, #3b55a0);
	background: -moz-linear-gradient(#4c69ba, #3b55a0);
	background: -ms-linear-gradient(#4c69ba, #3b55a0);
	background: -o-linear-gradient(#4c69ba, #3b55a0);
	border: none;
	color: white;
	display: block;
	/*margin-left: 300px;*/
	margin-left: auto;
	margin-right: auto;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#fb_share_button:hover {
	background: -webkit-linear-gradient(#5b7bd5, #4864b1);
	background: -moz-linear-gradient(#5b7bd5, #4864b1);
	background: -ms-linear-gradient(#5b7bd5, #4864b1);
	background: -o-linear-gradient(#5b7bd5, #4864b1);
	border-color: #5874c3 #4961a8 #41599f;
	-webkit-box-shadow: inset 0 0 1px #607fd6;
	-moz-box-shadow: inset 0 0 1px #607fd6;
	-ms-box-shadow: inset 0 0 1px #607fd6;
	-o-box-shadow: inset 0 0 1px #607fd6;
}

#twitter_share_button {
	width: 200px;
	background-color: #55acee;
	background-image: linear-gradient(#55acee,#2795e9);
	background-image: -webkit-linear-gradient(#55acee,#2795e9);
	background-image: -moz-linear-gradient(#55acee,#2795e9);
	background-image: -ms-linear-gradient(#55acee,#2795e9);
	background-image: -o-linear-gradient(#55acee,#2795e9);
	border: none;
	color: white;
	display: block;
	/*margin-left: 300px;*/
	margin-left: auto;
	margin-right: auto;
	transform: scale(1.1);
	margin-top: 10px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#twitter_share_button:hover {
	background: -webkit-linear-gradient(#6cb7f0, #3ea1ec);
	background: -moz-linear-gradient(#6cb7f0, #3ea1ec);
	background: -ms-linear-gradient(#6cb7f0, #3ea1ec);
	background: -o-linear-gradient(#6cb7f0, #3ea1ec);
	border-color: #6cb7f0 #55acee #3ea1ec;
	-webkit-box-shadow: inset 0 0 1px #6cb7f0;
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}