#bar {
	height: 150px;
	margin-left: 22.5px;
	margin-top: 15px;
	width: 300px;
}

#result {
	font-size: 24px;
}

#result_box {
	margin-top: 30px;
	width: 775px;
	margin-left: 60px;
	margin-right: auto;
}

#percent_and_sentence {
	display: inline-block;
	width: 400px;
	margin-right: 25px;
	text-align: center;
}

#percent {
	font-size: 72px;
}

#percent_and_sentence text {
	color: #9245AB;
}

#percentile {
	display: inline-block;
}

#percentile_statement {
	text-align: center;
	margin-top: 0px;
	margin-left: 35px;
}

#thanks_en {
	font-size: 16px;
	margin-left: 70px;
}

#thanks_chn {
	font-size: 16px;
	margin-left: 145px;
}

#read_up {
	font-size: 18px;
	text-align: center;
	margin-top: 45px;
}

a {
	text-decoration: underline;
}

body .fb-share-button {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	line-height: 10px;
}

body .twitter-share-button {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	line-height: 10px;
}

.sharing_buttons {
	margin-top: 22px;
}

#sharing_well {
	text-align: center;
	margin-top: 15px;
	margin-left: 25px;
	margin-right: auto;
	width: 850px;
}

#fb_share_button {
	width: 300px;
	background: -webkit-linear-gradient(#4c69ba, #3b55a0);
	background: -moz-linear-gradient(#4c69ba, #3b55a0);
	background: -ms-linear-gradient(#4c69ba, #3b55a0);
	background: -o-linear-gradient(#4c69ba, #3b55a0);
	border: none;
	color: white;
	display: block;
	margin-left: 300px;
	margin-right: auto;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}

#fb_share_button:hover {
	background: -webkit-linear-gradient(#5b7bd5, #4864b1);
	background: -moz-linear-gradient(#5b7bd5, #4864b1);
	background: -ms-linear-gradient(#5b7bd5, #4864b1);
	background: -o-linear-gradient(#5b7bd5, #4864b1);
	border-color: #5874c3 #4961a8 #41599f;
	-webkit-box-shadow: inset 0 0 1px #607fd6;
	-moz-box-shadow: inset 0 0 1px #607fd6;
	-ms-box-shadow: inset 0 0 1px #607fd6;
	-o-box-shadow: inset 0 0 1px #607fd6;
}

#twitter_share_button {
	width: 300px;
	background-color: #55acee;
	background-image: linear-gradient(#55acee,#2795e9);
	background-image: -webkit-linear-gradient(#55acee,#2795e9);
	background-image: -moz-linear-gradient(#55acee,#2795e9);
	background-image: -ms-linear-gradient(#55acee,#2795e9);
	background-image: -o-linear-gradient(#55acee,#2795e9);
	border: none;
	color: white;
	display: block;
	margin-left: 300px;
	margin-right: auto;
	transform: scale(1.5);
	margin-top: 25px;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}

#twitter_share_button:hover {
	background: -webkit-linear-gradient(#6cb7f0, #3ea1ec);
	background: -moz-linear-gradient(#6cb7f0, #3ea1ec);
	background: -ms-linear-gradient(#6cb7f0, #3ea1ec);
	background: -o-linear-gradient(#6cb7f0, #3ea1ec);
	border-color: #6cb7f0 #55acee #3ea1ec;
	-webkit-box-shadow: inset 0 0 1px #6cb7f0;
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}