<!DOCTYPE html>
<html>
<head>
	<title>{{ strings_d["World News Quiz"][lang] }} - {{ strings_d["Confirmation Code Invalidated"][lang] }}</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code_invalidated.css') }}">
</head>

<body>
	<!--<h2 id='world_news_quiz_title'>{{ strings_d["World News Quiz"][lang] }}</h2>-->
	<div class="container-fluid" id="main_container">
	<h3 id='error_title'>{{ strings_d["Sorry."][lang] }}</h3>
	<div id='completion_explanation'>
		{{ strings_d["According to the information you provided, because you do not consent to the study or you don't match the demographics required to participate in this job (as outlined in the job description), we have to invalidate your confirmation code and are unable to move forward with the job."][lang] }}
	</div>
	<br>
	<br>
	<div id='contact_info'>
		{{ strings_d['If you have any questions about the study, please email Anu Kashyap at akashyap@mit.edu and Erhardt Graeff at erhardt@media.mit.edu. Additionally, if you feel you have been treated unfairly, or you have questions regarding your rights as a research subject, you may contact the Chairman of the Committee on the Use of Humans as Experimental Subjects, MIT, Room E25-143B, 77 Massachusetts Ave, Cambridge, MA 02139, Phone 1-617-253-6787.'][lang] }}
	</div>
	<div id="footer">
      {{ strings_d["Center for Civic Media @ MIT Media Lab, 2015."][lang] }}
      </div>
	</div>
</body>

</html>